*{
    border-color: #fff !important;
}

body{
    /* overflow: hidden !important; */
    overflow-y: hidden;
}

.project-demo-main{
    border: 1px solid #000;
    height: 100vh;
    width: 100%;
    position: relative;
}

.project-demo-box{
    border: 1px solid #000;
    position: absolute;
}

.project-preiew-tag{
    border: 1px solid #000;
    position: fixed;
    top: 0;
    right: 0;
    transform: rotate(45deg);
}